@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  color: white;
  overflow-x: hidden;
}

/* 背景動畫延遲 */
.animation-delay-2000 { animation-delay: 2s; }
.animation-delay-4000 { animation-delay: 4s; }